{% extends "resource_base.html" %}
{% load resources %}
{% load url from future %}
{% block content_title %}
<h1>{{ view.label }} "{{ object }}"</h1>
{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">Home</a>
  </li>
  <li>
  	<span class="divider">/</span>
    <a href="{% url resource %}">{{ resource.label }}</a>
  </li>
  <li>
  	<span class="divider">/</span>
    {% with href=resource|add:"#detail" %}
    <li><a href="{% url href object.pk %}">{{ object }}</a></li>
    {% endwith %}
  </li>
  <li class="active">
  	<span class="divider">/</span>
  	{{ view.label }}
  </li>
</ul>
{% endblock %}
{% block content %}
<p>Are you sure?</p>
{% include '_form.html' with submit='Yes' submit_class='btn-danger'%}
{% endblock %}